@tailwind base;
@tailwind components;
@tailwind utilities;

.link-underline {
  @apply -mb-2 border-b-2;
}

body {
  @apply text-lg;
  @apply font-regular;
  overscroll-behavior: none;
}

h1 {
  @apply inline-block pb-2 mt-6 mb-4 text-3xl font-semibold leading-tight;
}

h2 {
  @apply pb-2 mb-4 text-2xl leading-tight font-semibold;
}

h3 {
  @apply pb-2 mb-4 leading-tight font-semibold;
}

.link,
li > a,
p > a {
  @apply select-none text-black;
}

li > a:hover,
p > a:hover {
  @apply text-black;
}

p > ul {
  @apply list-disc my-6 py-4 pl-8 pr-6;
}

p > ol {
  @apply list-decimal my-6 py-4 pl-8 pr-6;
}

ul,
ol {
  @apply mb-8;
}
.logo-container {
  @apply flex items-center static top-1/2 left-1/2 transform-none sm:transform sm:-translate-y-2/4 sm:-translate-x-2/4 sm:absolute;
}
.bg-transition {
  @apply bg-white border-black transition-colors duration-200 ease-in-out delay-200 !important;
}

.button-icon {
  display: flex;
  justify-content: center;
}

.content-area {
  max-height: calc(100vh - theme('spacing.48'));
  min-height: calc(100vh - theme('spacing.48'));
}
